{% extends "main/header.html" %}


{% block content %}

  {% if user.is_authenticated %}
      <h1>Hi there</h1>
      <h1>Cool newspage is coming soon</h1>
      {% for post in posts %}
           <a href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
           <p>Posted by {{post.user}} at {{post.date|date:"d-m-Y"}}</p>
           <br>
           <br>
      {% endfor %}
      <a class="btn btn-primary" href="/create_a_post" role="button">Create a post</a>
 {% else %}
      <h1>Hi there</h1>
      <h1>Cool homepage is coming soon</h1>
 {% endif %}

{% endblock %}