{% extends "main/header.html" %}

{% block content %}
     <h2>{{posts.title}}</h2>

     <p>Posted by {{posts.user}} at {{posts.date|date:"d-m-Y"}}</p>
     <p>{{post.content}}</p>

     <a href="#" class="btn btn-primary" onClick="document.getElementById('likebutton').submit()">👍</a> {{posts.likes}}   |
     <a href="#" class="btn btn-primary" onClick="document.getElementById('dislikebutton').submit()">👎</a> {{posts.dislikes}}

     <form id="likebutton" method="POST" action="like">
         {% csrf_token %}
         <input type="hidden">
     </form>
     <form id="dislikebutton" method="POST" action="dislike">
         {% csrf_token %}
         <input type="hidden">
     </form>
{% endblock %}